<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ExceptionInterceptor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>  
  <applicationSettings>
    <ExceptionInterceptor.Properties.Settings>
      <setting name="AddInName" serializeAs="String">
        <value>ExceptionInterceptor</value>
      </setting>
      <setting name="XMLOutputPath" serializeAs="String">
        <value>D:\ExceptionInterceptorOutput\DAExceptionsReport.xml</value>
      </setting>
      <setting name="HTMLOutputPath" serializeAs="String">
        <value>D:\ExceptionInterceptorOutput\DAExceptionsManagementReport.html</value>
      </setting>
      <setting name="ExcelOutputPath" serializeAs="String">
        <value>D:\ExceptionInterceptorOutput\DAExceptionsManagementReport.xls</value>
      </setting>
      <setting name="TempProjectPath" serializeAs="String">
        <value>D:\ExceptionInterceptorOutput\TempProjectFolder\</value>
      </setting>
      <setting name="CSEmptyProject" serializeAs="String">
        <value>EmptyProject.zip</value>
      </setting>
      <setting name="CSEmptyProjectType" serializeAs="String">
        <value>CSharp</value>
      </setting>
      <setting name="VBEmptyProject" serializeAs="String">
        <value>EmptyProject.zip</value>
      </setting>
      <setting name="VBEmptyProjectType" serializeAs="String">
        <value>VB</value>
      </setting>
      <setting name="XSLTPath" serializeAs="String">
        <value>D:\ExceptionInterceptor\ExceptionInterceptor\Configuration\DAExceptions.xsl</value>
      </setting>
    </ExceptionInterceptor.Properties.Settings>
  </applicationSettings>
</configuration>